body {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}

h1,h2,h3,h4,h5,h6,ul,li,p,a {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
}
header {
    height: 90px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
header .header-wrap {
    height: 90px;
    background-color: #2b2b31;
    display: flex;
    align-items: center;
    padding: 0 400px;
    color: rgba(255, 255, 255, 0.75);
    /* -webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3); */
    z-index: 2;
}
header .logo {
    background-color: #28282d;
    width: 240px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
header .logo-a {
    height: 90px;
}
header .logo:hover {
    background-color:#2b2b31;
    transition: 0.3s;
}
header .right {
    display: flex;
    flex-flow: row;
}
.nerf {
    font-size: 20px;
}
.nerf:hover {
    transition: 0.3s;
    color: #ff55a5;
}
.right .menu {
    margin-right: 123px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.right .menu li {
    display: inline-block;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.2px;
    transition: 0.3s;
}
.right .menu li a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    transition: 0.5s;
}
.right .menu li a:hover {
    transition: 0.3s;
    color: #ff55a5;
}
.right .menu .dot {
    position: relative;
}
.right .menu .dot .side-menu {
    width: 200px;
    height: 325px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding: 0 16px;
    background-color: #2b2b31;
    position: absolute;
    top: 45px;
    right: -170px;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
    transition: ease-in-out 0.3s;
    visibility: hidden;
    opacity: 0;
}
.right .menu .dot .active {
    visibility: visible;
    opacity: 1;
    top: 55px;
    transition: ease-in-out 0.3s;
}
.right .menu .dot .side-menu:before {
    content: '';
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background: linear-gradient(
        90deg, 
        #ff55a5 0%, 
        #ff5860 
        100%);
}
.right .menu .dot .side-menu li {
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.2px;
    transition: 0.3s;
    margin-right: 0;
}
.right .menu .dot .side-menu li a {
    font-size: 15px;
}
header .right-2 {
    display: flex;
    flex-flow: row;
    align-items: center;  
    gap: 30px; 
    text-transform: uppercase;
    position: relative;
}

header .search {
    height: 60px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border-top: 1px solid #36363b;
    background-color: #2b2b31;
    display: flex;
    flex-flow: row;
    padding: 0 400px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
    z-index: -1;
}

.active-search {
    bottom: -60px !important;
    transition: 0.3s ease-in-out !important;
}

header .search .container {
    background-color: #28282d;
    position: relative;
    padding-right: 0;
    padding-left: 0;
}

header .search .container input {
    width: 100%;
    height: 100%;
    background-color: #28282d;
    border: 0;
    padding: 0 15px;
    outline: none;
    color: #fff;
}
header .search .container button {
    width: 90px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    border-radius: 5px;
    background: linear-gradient( 90deg, #ff55a5 0%, #ff5860 100%);
    -webkit-box-shadow: 0 0 20px 0 rgba(255,88,96,0.5);
    box-shadow: 0 0 20px 0 rgba(255,88,96,0.5);
    color: #fff;
    font-size: 13px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    opacity: 0.85;
    transition: 0.4s ease-in-out;
    outline: none;
}
header .search .container button:hover {
    transition: 0.3s ease-in-out;
    opacity: 1;
}
header .right-2 .menu-2 {
    font-size: 13px;
}
header .right-2 .menu-2 li a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    transition: 0.5s;
}
header .right-2 .menu-2 li a:hover {
    transition: 0.3s;
    color: #ff55a5;
}

.right-2 .menu-2 .lang-top {
    position: relative;
}
.right-2 .menu-2 .lang-top .lang {
    width: 150px;
    height: 125px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding: 0 16px;
    background-color: #2b2b31;
    position: absolute;
    top: 45px;
    right: -130px;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}
.right-2 .menu-2 .lang-top .active {
    visibility: visible;
    opacity: 1;
    top: 53px;
    transition: 0.3s;
}
.right-2 .menu-2 .lang-top .lang:before {
    content: '';
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background: linear-gradient(
        90deg, 
        #ff55a5 0%, 
        #ff5860 
        100%);
}
.right-2 .menu-2 .lang-top .lang li {
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.2px;
    transition: 0.3s;
    margin-right: 0;
}
.right-2 .menu-2 .lang-top .lang li a {
    font-size: 15px;
}



.nerf-2 {
    font-size: 20px;
    transition: 0.5s;
}
.nerf-2:hover {
    transition: 0.5s;
    color: #fff;
    cursor: pointer;
}
.right-2 button {
    width: 140px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    background: linear-gradient(
        90deg, 
        #ff55a5 0%, 
        #ff5860 
        100%);
    -webkit-box-shadow: 0 0 20px 0
    rgba(255,88,96,0.5);
    box-shadow: 0 0 20px 0 
    rgba(255,88,96,0.5);
    color: #fff;
    font-size: 13px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    opacity: 0.85;
    transition: 0.4s ease-in-out;
    outline: none;
}
.right-2 button:hover {
    opacity: 1;
    transition: 0.4s ease-in-out;
}

.content {
    background-image: url(../picture/section.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    padding: 140px 400px 70px;
    color: rgba(255, 255, 255, 0.75);
}
.content:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    display: block;
    background-image: -moz-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: -webkit-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: -ms-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    -webkit-box-shadow: 0 0 20px 0 rgba(255,88,96,0.5);
    box-shadow: 0 0 20px 0 rgba(255,88,96,0.5);
}

.content .left {

}
.content .left h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
}
.content .right {
    display: flex;
    align-items: center;
}
.content .right ul {
    display: flex;
    flex-flow: row;
}
.content .right ul li {
    color: rgba(255,255,255,0.5);
}
.content .right ul li a {
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    transition: 0.3s;
}
.content .right ul li a:hover {
    transition: 0.3s;
    color: #ff55a5;
}
.content .right ul li.arrow-right {
    position: relative;
    margin-right: 50px;
}
.content .right ul li.arrow-right:before {
    content: '\f30b';
    position: absolute;
    top: 0;
    right: 0;
    left: 60px;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: rgba(255,255,255,0.5);
}


.faq {
    padding: 100px 400px 0;
    background-color: #2b2b31;
    display: flex;
    flex-flow: row;
}
.faq .left {
    margin-right: 70px
}
.faq .box {
    margin-bottom: 50px;
}

.faq .box h2 {
    font-size: 22px;
    margin-bottom: 15px;
    width: 400px;
}
.faq .box p {
    width: 475px;
    color: rgba(255,255,255,0.5);
}









footer {
    background-color: #28282d;
    height: 370px;
    padding: 0 400px;
}
footer .footer-top {
    height: 300px;
    border-bottom: 1px solid #333338;
    padding: 60px 0;
    display: flex;
    flex-flow: row;
}
footer .footer-top .box {
    display: flex;
    flex-flow: column;
    width: 400px;
}
footer .footer-top .box h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    margin-bottom: 17px;
    margin-top: 15px;
}
footer .footer-top .box:first-of-type a {
    width: 130px;
}
footer .footer-top .box img  {
    width: 130px;
    margin-top: 15px;
}
footer .footer-top .box ul li {
    margin-bottom: 15px;
}
footer .footer-top .box ul li a {
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    transition: 0.3s;
}
footer .footer-top .box ul li a:hover {
    color: #ff55a5;
    transition: 0.3s;
}
footer .footer-top .box ul .social-icon {
    display: flex;
    gap: 10px;
}
footer .footer-top .box ul .social-icon {
    font-size: 20px;
}

footer .footer-down {
    height: 65px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    color: rgba(255,255,255,0.5);
    font-size: 17px;
}
footer .footer-down span a {
    color: rgba(255,255,255,0.5);
}
footer .footer-down span a:hover {
    text-decoration: underline;
}
footer .footer-down .right small {
    margin: 0 10px;
    transition: 0.3s;
}
footer .footer-down .right small a {
    color: rgba(255,255,255,0.5);
    text-decoration: none;
}
footer .footer-down .right small a:hover {
    color: #ff55a5;
    transition: 0.3s;
}